.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  background-color: peru;
  color: white;
  border: red;
  cursor: pointer;
  border-radius: 8px;
  
}

button:hover {
  background-color: darkred;
}

button:focus {
  outline: none;
}
.container{
  padding: 0pc;
}